In [1]:
import numpy as np
import pandas as pd

In [2]:
#read data
student_perf = pd.read_csv("./data/StudentsPerformance.csv")

In [3]:
student_perf

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [4]:
# replace whitespace with _ in columns
# .str е, за да ги достъпим като имена, не като индекси
student_perf.columns = student_perf.columns.str.replace(" ","_")
student_perf.columns

Index(['gender', 'race/ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [5]:
score_columns = student_perf.columns[student_perf.columns.str.endswith("_score")]
grouped = student_perf.groupby(by="gender")[score_columns].mean()

In [6]:
student_perf.groupby(by="gender")["math_score"].mean()

gender
female    63.633205
male      68.728216
Name: math_score, dtype: float64

In [7]:
student_perf.columns.str.endswith("_score")

array([False, False, False, False, False,  True,  True,  True])

In [8]:
student_perf.columns[student_perf.columns.str.endswith("_score")]

Index(['math_score', 'reading_score', 'writing_score'], dtype='object')

In [9]:
grouped

        math_score  reading_score  writing_score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

In [10]:
multiindex_group = student_perf.groupby(by=["gender","parental_level_of_education"])[score_columns].mean()
multiindex_group

                                    math_score  reading_score  writing_score
gender parental_level_of_education
female associate's degree            65.250000      74.120690      74.000000
       bachelor's degree             68.349206      77.285714      78.380952
       high school                   59.351064      68.202128      66.691489
       master's degree               66.500000      76.805556      77.638889
       some college                  65.406780      73.550847      74.050847
       some high school              59.296703      69.109890      68.285714
male   associate's degree            70.764151      67.433962      65.405660
       bachelor's degree             70.581818      68.090909      67.654545
       high school                   64.705882      61.480392      58.539216
       master's degree               74.826087      73.130435      72.608696
       some college                  69.009259      64.990741      63.148148
       some high school              67.840909      64.693182      61.375000

In [11]:
student_perf.groupby(by=["gender","parental_level_of_education"])